{% extends "base.html" %}
{% load facebook_tags %}
{% block content %}
<div class="center-box center-only">
<div class="box-top">
	<h1>Login</h1>
</div>
<div class="box-middle">
  <div style="float:left;margin:0 .4em .4em 0">{% show_facebook_photo user %}</div>
  <h2>{% show_facebook_greeting user %}</h2>
  <div class="clear"></div>
  <p>If you already have an account, enter your username and password below to link your account and all your lists and groups with your facebook account. If you do not already have an account, click Continue with facebook only - you won't have to remember a name and password.</p>
  
  {% if form.errors %}
  <p class="error">Your username and password didn't match. Please try again.</p>
  {% endif %}
        
  <form action="" method="post" accept-charset="utf-8" class="nice-form">
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" id="next">
    <p><input type="submit" value="Link my accounts"></p>
  </form>
  <hr/>
  <form action="" method="post" accept-charset="utf-8" class="nice-form">
    <input type="hidden" name="facebook_only" value="true" id="facebook_only">
    <input type="hidden" name="next" value="{{ next }}" id="next">
    <p><input type="submit" value="Connect with facebook only"></p>
  </form>

	</div>
	<div class="box-bottom"></div>
</form>
</div>
{% endblock %}